
APP_ENV=dev
APP_SECRET=
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###
APP_DEBUG=1
DEFAULT_URI=http://localhost
# with password
# DATABASE_URL="mysql://root:password@127.0.0.1:3306/db_name"

# without password

DATABASE_URL="mysql://root:@127.0.0.1:3306/paysera_db" // without password

###> symfony/messenger ###
# Use 'localhost' for local dev, or 'redis' if you are using Docker
MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###

# Replace '127.0.0.1' with 'redis' if using Docker
REDIS_URL=redis://127.0.0.1:6379

###> symfony/lock ###
# Choose one of the stores below
# REDIS_URL
LOCK_DSN=redis://127.0.0.1:6379
###< symfony/lock ###
